<form action="/tasks" method="post">
  <p><span>Enter a new task:</span></p>
  <input type='text' name='task[title]'/><br/>
  <p><span>Enter the new tasks description:</span></p>
  <textarea name='task[description]'></textarea><br/>
  <input type='submit'/>
</form>
